

.papa2 {
  display: flex;
  text-align: center;
  width: 349px;
  height: 200px;
  border-radius: 50px;
  border-style: double;
  background-image: url(https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/masters/canyon.jpg);
  background-size: cover;
  margin: 50px;
  padding: 20px;
}

.papa2:hover {
  transform: skew(-5deg, -10deg);
}


.hijo{
    border-radius: 50px;
    background-image: url(https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/masters/city.jpg);
    width: 250PX;
    height: 300px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

#amarillo{
    color: #000000;
}

#azul{
    color: 	#000000;
}

#gris{
    color: #000000;
}

#morado{
    color: #000000;
}

#marron{
    color:#000000 ;
}

#rojo{
    color: #000000;
}

#click{
    display: flex;
}

.Hola{
    background-image: url(https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/masters/forest.jpg);
}